body {
    margin:0px;
}


#myCarousel {
    width: 100%;
    height: 500px;
    background-color: rgb(210, 225, 230);
    margin:0px;
}


.carousel-item {
    overflow:hidden;
}


#catch_phrase > p {
    float: right;
}


#map-user-panel {
    height: 600px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


#map_container {
    background-color: lightgray;
    margin-top : 20px;
    margin-left: auto;
    height: 92%;
}

#user_panel {
    background: lightblue;
    display: block;
    height: 92%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    margin-top:40px;
    font-weight:600;
    display: block;
    margin-left: auto;
    margin-left: right;
}

#user_panel > p {
    float: left;
}

#user_panel > form > button {
    margin-top: 10px;
}

#login_buttons {
    margin-top: 10px;
}

#top-week {
    margin-top:40px;
    height: 600px;
}

.my-place-miniature {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 60px;
}


#top_reportague {
    height: 400px;
    padding: 100px 200px;
}

#footer {
    /* position: sticky; */
    width: 100%;
    /* bottom:0px; */
    background-color: lightgray;
    height: 40px;
    margin: 0px;
    padding:5px;
}


#user {
    margin:auto;
}

#user_image {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


.user-buttons {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#my_alert {
    opacity: 100;
    width: 800px;
    margin-top: 10px;
    font-size: 10px;
}

