#place-image {
    width:100%;
    height: 450px;
    background-color: lightgray;
    z-index: 0;
    padding: 0px;
}


#place-miniature {
    position: absolute;
    right: 10%;
    top: 5%;
    
}

#place-name {
    position: absolute;
    left: 10%;
    bottom: 40px;
}

#place-name > h1 {
    font-size:  80px;
    color: white;
    font-weight: bold;
}

#place-miniature > img {
   border-radius: 100%; 
    background-color:white;
    float:right;
    z-index: 1;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    z-index: 2;
    border: 2px solid white;
    opacity: 40%; 
}
