body {
    background-image: url("../bgrounds/registration.png");
    background-attachment: fixed;
}

#main {
    padding: 200px;
}

#registration {
    background-image: url("../bgrounds/registrationform.png");
    width: 400px;
    height: 600px;
    padding: 40px;
    padding-top: 40px;
    color: white;
    border-radius: 25px;
    border: solid white 1px;
}



#registration > p {
    font-size: 30px;
}


#registration > hr {
    border: 1px white solid;
}



.mf > label {
    font-weight: bold;
}

#registration > form > button {
    border: solid 1px black;
    margin-top: 50px;
}

#my_alert {
    opacity: 100;
    position: absolute;
    width: 800px;
    margin-bottom: auto;
    margin-top: -100px;

}