#user_info {
    display: block;
    width: 100%;
    height: 300px;
    background-color:lightgray;
    margin-top: 20px;
    padding: 0px;
}

.info-content {
    display: inline-block;
    background-color: lightblue;
    height:100%;
}


#info-content-left {
    float: left;
}


#info-content-right{
    float: right;
}